<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<!-- {{month}} -->输入月份：
			<input v-model="month" />
			<li v-if="month==''||month>12">有误，请重新输入</li>
			<li v-else-if="month%2==0 &&(month!=2 && month<7)">30天</li>
			<li v-else-if="month%2==0 &&month!=2 && month>=7">31天</li>
		    <li v-else-if="month%2!==0 &&month<8">31天</li>
			<li v-else-if="month%2!==0 && month>=7">30天</li>
			<li v-else-if="month==2">28天</li>
			<!-- <li v-else="month>12">超出范围</li> -->
			
			
			
		</div>
		
		<script type="text/javascript">
			let v=new Vue({
				el:'#app',
				data:{
					month:'',
					
				}
			})
		</script>
	</body>
</html>