<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			大学：<input v-model="school" />
			<li v-if="school==''">请输入</li>
			
			
			<li v-else-if="school=='985、211大学'">清华大学
北京大学<br />
复旦大学
上海交通大学<br />
中国科学技术大学
南京大学
浙江大学<br />
中国人民大学
同济大学
北京航空航天大学<br />
浙江大学医学院
南开大学
哈尔滨工业大学
北京理工大学<br />
西安交通大学
中国人民大学
华中科技大学<br />
北京师范大学
武汉大学
国防科技大学
</li>
			<li v-else-if="school=='211大学'">东华大学
南京理工大学
大连理工大学<br />
西安电子科技大学
武汉理工大学
北京邮电大学<br />
北京化工大学
华中师范大学
上海外国语大学<br />
北京科技大学
中国传媒大学
湖南大学<br />
北京外国语大学
北京工业大学
华东理工大学
上海大学<br />
中央民族大学
山东大学威海分校
</li>
			
		</div>
		<script type="text/javascript">
		let v=new Vue({
				el:'#app',
				data:{
					school:''
				}
			})
		</script>
	</body>
</html>
