<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<input v-model="num"  type="text" name="" id="" value="" />
		
			<li v-if="num==86">
				你输入的国家代码是+{{num}},它表示{{schools[0].name}},首都为：{{schools[0].location}}</li>
			<li v-else-if="num==44">
				你输入的国家代码是+{{num}},它表示{{schools[1].name}},首都为：{{schools[1].location}}</li>
			<li v-else-if="num==1">
				你输入的国家代码是+{{num}},它表示{{schools[2].name}},首都为：{{schools[2].location}}</li>
					    
		</div>
		<script type="text/javascript">
			let v=new Vue({
				el:'#app',
				data:{
					num:'',
					schools:[
						{name:'中国',location:'北京'},
						{name:'英国',location:'伦敦'},
						{name:'美国',location:'华盛顿'},
						
					]
				}
			})
		</script>
	</body>
</html>